body {
	background-color: #232323;
	margin:0;
}
header {
	border-bottom: 5px solid #f06e9c;
	margin-left: 30px;
	margin-right: 30px;	
	margin-bottom: 1em;
}
div{
	display:inline-block;
}
.btn{
    background-color: white;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    border: 0.5px;
}
.left_header{
	margin-left: 30px;
	font: 25px Caveat Brush;
	font-family: Caveat Brush;
	color: #f06e9c;
}
.right_header{
	float: right;
	display: table;	
}
.add{
	display: table-row;
}

.main_part{
	display: table;	
}
.filter{
	width: 100%;
	background-color: #7a7a7a;		
	padding-right:0;
	margin:0;
}

.news{
	display: table-row;	
}
.new {
	display:inline-block;
	background: #d6d6d6;
	margin-top: 2em;	
	margin-left: 7em;
	margin-right: 7em;
	margin-bottom: 2.2em;
	width: 14.7em;
	float: middle;
}
.new3 {
	display:inline-block;
	background: #d6d6d6;
	margin-top: 2em;	
	margin-left: 6em;
	margin-right: 0em;
	margin-bottom: 2.2em;
	width: 14.7em;
	float: middle;
}
.description{
	width: 100%;
}

.footer{
	background-color: #444444;
	width: 100%;
}
.newnews{
	font: 25px Caveat Brush;
	font-family: Caveat Brush;
	color: #f06e9c;
	margin-left: 1.5em;
	margin-right: 10em;
}
.information{
	font: 12px Helvetica;
	color: #ffffff;
	margin-left: 5em;
}
.email {
	font: 12px Helvetica;
	color: #ffffff;
	margin-left: 5em;
}
.date {
	font: 12px Helvetica;
	color: #ffffff;
	margin-left: 5em;
}

.xz {	
	overflow: hidden; 
	height:8em; 	
	width: 13.5em;
	margin-left: 0.4em;
}
.icons {
	margin-left: 0.5em;
	margin-bottom: 0.3em;
}
.show_more {
	display:inline-block;
	margin-left: 1em;
	margin-right: 2em;
	height: 100%;
}

button{}
.sign_up {
	margin-right: 0em;
	margin-top:0.5em;
}
.pink{
	background-color:#f06e9c;
	margin: 0em;
}
.add_news{
	width:8.5em;
	margin-top: 0.5em;
}
.apply{	
	margin-top: 0.5em;
	margin-left: 7em;
	width: 10em;
}
.menu{
	margin: 0.5em;
	margin-left: 7em;
	margin-right: 7em;
	float: center;
}

.icon1{
	border: 0px;
	margin: 0em;
	margin-left: 12em;
}
.icon2 {
	border: 0px;
	margin: 0em;
}
.more {
	background-color: #232323;
	border: 0px;
	margin: 0em;
	position: absolute;
	top: 50%;
}

h1{
	margin-bottom: 0.1em;
	margin-top: 0em;
}
h2{
	font: 10 px Helvetica;
	margin-bottom: 0.1em;
	margin-top: 0.1em;	
	text-align: center;
}
.author{
	text-align: left;
	border-bottom: 0.1em solid #000000;	
	margin-left: 0.5em;
	margin-right: 0.8em;
	margin-bottom: 0.2em;
	margin-top: 0.5em;
}
.link {
	margin-left: 0.5em;
}






